@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-roboto-flex: "Roboto Flex Variable", sans-serif;
}

html {
  font-family: "norwester";
}

@layer base {
  a {
    @apply underline underline-offset-3;
  }

  a:hover {
    @apply text-gray-500 no-underline;
  }
}
