@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: light --default;
}

@theme {
  --font-roboto-flex: var(--font-roboto-flex-astro);
}

html {
  font-family: var(--font-norwester);
}

@layer base {
  a {
    @apply underline underline-offset-3;
  }

  a:hover {
    @apply text-gray-500 no-underline;
  }
}
