---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Socials from "../components/Socials.astro";

import Background from "../images/mikes_not_home_bg.png";
import LineupTwo from "../images/mikes_not_home_lineup.png";
import Banner from "../images/mikes_not_home_banner.png";

const textUrl = `/${encodeURIComponent("POP UP may 24 2025 txt.png")}`;
const backgroundUrl = Background.src;
const ogImageUrl = `/${encodeURIComponent("POP UP may 24 2025 banner.png")}`;
const ticketUrl = "https://posh.vip/e/mikes-not-home-1?t=mikeshouse-tv";
const eventDate = "May 12, 2025 00:00:00"
const eventDateTime = new Date(eventDate)
---

<Layout title=`Mike's Not Home | April 4 2026` backgroundUrl='' backgroundHex="#0000ce" ogImageUrl={Banner.src}>
	<main>
        <div class="poster-text visible">
            <img
                class="poster-text"
                src={LineupTwo.src}
                alt="transparent poster with text only for Mike's Not Home event"
            />
        </div>
        <div class="ticket-link" style="font-weight: bold; position: relative; z-index: 10; margin-bottom: 25px; font-size: 1.10em;">
            <Footer ticketText="Get Tickets" ticketUrl={ticketUrl}/>
        </div>
        <div>
		    <Socials />
        </div>
		<div class="poster-text" style="visiblity: hidden;">
			<h1>Mike's House presents Pop Up</h1>
			<h2>Lineup</h2>
			<ul>
        <li>Fake Laflare</li>
        <li>Fragile Fruit</li>
        <li>Ketchup</li>
				<li>Mikezilla</li>
        <li>Purple Violet</li>
        <li>SMLS</li>
        <li>WRMBRW</li>        
			</ul>
		</div>
	</main>
</Layout>

<style>
  main {
    color: #ffffef;
    font-size: 20px;
  }
  div.poster-text {
    visibility: hidden;
  }
  div.poster-text.visible {
    visibility: visible;
    /* height: 600px; */
    margin: 0 auto;
    /* overflow: hidden; */
    position: relative;
    height: 100vh;
    width: 100vw;
    position: relative;
  }
  img.poster-text {
    /* height: 100%;
    margin: 0 auto;
    display: block;
    margin-top: 0px;
    margin-bottom: -80px; */
    height: 100vh;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
  }
  .ticket-link {
    margin-top: -150px;
  }
  @media (max-width: 590px) {
    img.poster-text {
      /* max-width: 435px; */
      /* width: 100%; */
      /* max-height: 96vh; */
      /* width: 100%; */
      /* display: block; */
      margin-bottom: -75px;
      /* position:absolute; */
      /* left: -50%; */
    }
    .ticket-link { 
        margin-top: -127px;
    }
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
<style is:global>
  .page-container {
    background-size: 100vw 100vh !important;
    background-position: center !important;

    animation-duration: 25s !important;
    /* animation-name: bg-rotate !important; */
    animation-iteration-count: infinite !important;
    /* animation-timing-function: cubic-bezier() !important; */
  }

  @media (max-width: 590px) {
    .page-container {

      background-size: 1024px 1024px !important;
      /* background-position: 500px -200px; */
    }
  }



  @keyframes bg-rotate {
    from {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(180deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
</style>
