---
// import * as THREE from 'three';

// const scene = new THREE.Scene();
// const innerWidth = 1080;
// const innerHeight = 720;
// const camera = new THREE.PerspectiveCamera( 75, innerWidth / innerHeight, 0.1, 1000 );

// const renderer = new THREE.WebGLRenderer();
// renderer.setSize( innerWidth, innerHeight );
// // document.body.appendChild( renderer.domElement );
---
<h1>hello</h1>

<script src="../scripts/main.js"></script>