---
import MikesHouseV2 from "../layouts/MikesHouseV2.astro";

const description = `Mike's House is a DJ collective, event production, and content organization. Founded by Los Angeles-based DJ/Producer Mikezilla and Fake Laflare. Having an eclectic taste and sound selection you're guaranteed to discover something you've never heard before.`;
---

<MikesHouseV2 title="Home" description={description} hideHeader={true}>
  <div class="pt-25">
    <h1 class="uppercase mb-0 text-5xl mb-5">Mike's House</h1>
    <nav class="text-4xl">
      <div>
        <a href="/videos">videos</a>
      </div>
      <div>
        <a href="/shop">shop</a>
      </div>
    </nav>
  </div>
</MikesHouseV2>
