---
import MikesHouseV2 from "../layouts/MikesHouseV2.astro";
import BlackBarShirt from "../images/mikes_house_black_bar.png";
---

<MikesHouseV2
  title="Shop"
  description="Shop for official Mike's House merch, apparel, and other goods."
>
  <div>
    <a target="blank" href="https://square.link/u/SBtk0Zcy">
      <img class="xl:max-w-13/16 mx-auto" src={BlackBarShirt.src} />
    </a>
  </div>
  <div class="text-center">
    <p class="text-xl">
      <a target="blank" href="https://square.link/u/SBtk0Zcy">$40</a>
    </p>
  </div>
</MikesHouseV2>
