---
interface Props {
  ticketUrl: string;
}

const { ticketUrl } = Astro.props;

---

<div class="links">
	<a
		id="get_tickets"
		href={ticketUrl}
		>rsvp</a
	>
</div>
<style>
	.links {
		text-align: center;
	}
	a,
	a:visited,
	a:active,
	a:hover {
		color: white;
		font-size: 1.13em;
	}
</style>
<script>
	const referrer = new URL(document.referrer);

	let affSuffix = "";
	if (referrer.hostname === "instagram.com") {
		affSuffix = "instagram";
	}

	const getTicketsElement = document.getElementById("get_tickets");
	const getTicketsHref = new URL(getTicketsElement.getAttribute("href"));

	const currentAff = getTicketsHref.searchParams.get("aff");
	getTicketsHref.searchParams.set("aff", `${currentAff}${affSuffix}`);

	getTicketsElement.setAttribute("href", getTicketsHref.href);
</script>
