---
import type { string } from 'astro:schema';

interface Props {
  ticketUrl: string;
  ticketText?: string;
}

const { ticketUrl, ticketText = "Buy Tickets" } = Astro.props;

---

<div class="links">
	<a
		id="get_tickets"
		href={ticketUrl}
		>{ticketText}</a
	>
</div>
<style>
	.links {
		text-align: center;
	}
	a,
	a:visited,
	a:active,
	a:hover {
		color: #fa5182;
		font-size: 1em;
	}
</style>
<script>
	// const referrer = new URL(document.referrer);

	// let affSuffix = "";
	// if (referrer.hostname === "instagram.com") {
	// 	affSuffix = "instagram";
	// }

	// const getTicketsElement = document.getElementById("get_tickets");
	// const getTicketsHref = new URL(getTicketsElement.getAttribute("href"));

	// const currentAff = getTicketsHref.searchParams.get("aff");
	// getTicketsHref.searchParams.set("aff", `${currentAff}${affSuffix}`);

	// getTicketsElement.setAttribute("href", getTicketsHref.href);
</script>
