---
interface Link {
  href: string;
  title: string;
  text: string;
  date?: string;
  class?: string;
}
interface Props {
  links: Link[];
}

const { links } = Astro.props;
---

<div class="shows">
  <p>Upcoming Events</p>
  <p>
  {
    links.map((data) => (
      <a href={data.href} title={data.title}>
        <span class={data.class}>{data.text}</span>
      </a><br>
    ))
  }
  </p>
</div>
<style>
  a {
    text-decoration: underline;
    margin: 0 6px;
  }
  img {
    white-space: nowrap;
    display: inline-flex;
    vertical-align: middle;
  }
  .shows {
    /* position: absolute; */
    /* right: 25px; */
    /* bottom: 25px; */
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
  }
  .shows img {
    width: 25px;
    filter: brightness(100%) saturate(0%) invert(0%) sepia(0%) hue-rotate(360deg) contrast(200%);
  }
  img.kick {
    object-position: -44px;
    object-fit: contain;
    width: 63px !important;
    margin-right: -44px;
    filter: saturate(0%) brightness(0) invert(0);
    -webkit-filter: saturate(0%) brightness(0) invert(0);
  }
  @media (max-width: 590px) {
    .shows {
      position: unset;
      right: unset;
      bottom: unset;
      max-width: 435px;
      padding: 0 35px;
      margin: 0 auto;
      margin: 35px 0;
    }
  }
  a,
  a:visited,
  a:active,
  a:hover {
    color: black;
    font-size: 1.25em;
  }
</style>
